<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<block name="meta">
<title>陌陌——管理平台</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="author" content="度月飞天 490702087@qq.com"/>
</block>
<!-- 主题样式 -->
<link href="__STATIC__/js/ExtJs/lib/packages/ext-theme-classic/build/resources/ext-theme-classic-all.css" rel="stylesheet" type="text/css"  />
<!-- ico图标样式 -->
<link href="__STATIC__/css/icon.css" rel="stylesheet" type="text/css"  />
<!-- 自定义样式 -->
<block name="style">
<link href="__STATIC__/css/system.css" rel="stylesheet" type="text/css" />
</block>
<!-- ExtJs入口文件 -->
<script src="__STATIC__/js/ExtJs/lib/ext-all.js" charset="UTF-8" type="text/javascript"></script>

<!-- Chart引用文件 -->
<script src="__STATIC__/js/ExtJs/lib/packages/sencha-charts/build/sencha-charts.js"></script>
<!-- 简体中文语言包 -->
<script src="__STATIC__/js/ExtJs/lib/packages/ext-locale/build/ext-locale-zh_CN.js"></script>
<!-- 脚本程序 -->
<block name="actionjs">

</block>
</head>
<body>
<block name="body"></block>
</body>
</html>